<div class="m-2 flex flex-col">
  <h1>Xss scripting</h1>
  <span>Primjer skripte</span>
  <p>{{script}}
  </p>
  <mat-form-field appearance="fill">
    <mat-label>Insert your malicious script</mat-label>
    <input matInput placeholder="Insert your malicious script" [formControl]="xssAttackForm">
  </mat-form-field>
  <div class="p-5">
    <button mat-raised-button color="primary" (click)="onSubmit()">SaveRegular</button>
  </div>
  <div class="p-5">
    <button mat-raised-button color="primary" (click)="onSubmitSafe()">SaveSafe</button>
  </div>
  {{textToShow}}
  <div class="my-10 border-b-8"></div>


  <h1>Bad auth</h1>
  <div class="flex flex-col border-4 p-3">
    <h2>Regular (bad) signup</h2>
    <div class=" ">
      <mat-form-field appearance="fill" *ngIf="nameForm">
        <mat-label>Enter your username</mat-label>
        <input matInput [formControl]="nameForm">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" *ngIf="passwordForm">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordForm">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="onSubmitFormRegular()">Sign Up</button>
    </div>
  </div>
  <div>{{signupResult}}</div>
  <div class="flex flex-col border-4 p-3">
    <h2>Safe signup</h2>
    <div class=" ">
      <mat-form-field appearance="fill" *ngIf="nameFormSafe">
        <mat-label>Enter your username</mat-label>
        <input matInput [formControl]="nameFormSafe">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill" *ngIf="passwordFormSafe">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormSafe">
        <mat-error *ngIf="passwordFormSafe.invalid">{{getErrorMessage()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <re-captcha *ngIf="captcha==''" (resolved)="resolved($event)"
                siteKey="6Ld-jPwiAAAAAFatlLW7RDjk0OGznh8ZQC6hxP6r" ></re-captcha>
    <div>
      <button   *ngIf="captcha!=''" mat-raised-button color="primary" [disabled]="!passwordFormSafe.valid" (click)="onSubmitFormSafe()">Sign
        Up
      </button>
    </div>
  </div>


</div>
